.header-entry {
  display: flex;
  align-items: flex-start;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.header-entry > img {
  width: 18rem;
  height: 22rem;
}

.profile-text {
  margin-left: 4rem;
}

.profile-text > h1 {
  font-size: 2.5rem;
}

.profile-text > p {
  width: 20rem;
  height: 14rem;
  word-wrap: break-word;
}

.socials {
  align-items: center;
}
