.project-entry {
  display: flex;
  align-items: flex-start;
}

.project-image {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  margin-right: 1rem;
}

.project-content {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.project-link {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.project-desc {
  margin-top: 0.5rem;
}
